.modal-window {
  display: none;
  flex-direction: column;
  width: 80vw;
  height: 80vh;
  border: solid 2px;
  gap: 1rem;
  padding: 1rem;
  background-color: aliceblue;
}

.modal-window_open {
  position: absolute;
  display: flex;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

label {
  display: flex;
  justify-content: space-between;
  input {
    width: 20%;
  }
  select {
    width: 20%;
  }
}
