@import "./var";

.modal-window {
  position: absolute;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  width: 70vw;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(100%, -50%);
  border: none;
  border-radius: $base-border-radius;
  gap: 1rem;
  padding: 2rem;
  opacity: 0.5;
  background-color: $bg-color-modal;
  transition: 0.5s;

  @media (max-width: $mobile) {
    width: 85vw;
  }

  ol {
    font-size: 1.2rem;
    font-weight: 700;
    li {
      font-size: 1rem;
      margin-top: 5px;
    }
  }
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.modal-window_open {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 15;
}

label {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 700;
  select,
  input {
    width: 30%;
    height: 2rem;
    border-radius: $base-border-radius;
    border: none;
    padding: 0 10px 0 10px;
    font-size: 1rem;
    font-weight: normal;
  }

  textarea {
    border-radius: $base-border-radius;
    border: none;
    padding: 10px;
    font-size: 1rem;
    font-weight: normal;
  }

  select:hover,
  input:hover,
  textarea:hover {
    border: 1px solid $black;
  }

  select:focus,
  input:focus,
  textarea:focus {
    outline: none;
    border: 2px solid $green;
  }

  select:invalid,
  input:invalid,
  textarea:invalid {
    outline: none;
    border: 2px solid red;
  }
}

input[type="color"] {
  background-color: $white;
  padding: 0 2px 0 2px;
}

.info-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info-parts {
  padding-top: 20px;
}

.button-save,
.button-save-note {
  align-self: center;
}
