$bg-color: aliceblue;
$bg-color-modal: #def2f1;
$white: #fff;
$col: #444444;
$base-border-radius: 10px;
$green: #2b7a78;
$black: #17252a;
$color-disabled: #2b7a7860;

$tablet: 1100px;
$between: 800px;
$mobile: 600px;
$small: 470px;
