@import "./modalWindow";
@import "./carProfile";
@import "./carList";
@import "./var";
@import "./loginForm";
@import "./loader";

html {
  box-sizing: border-box;
  @media (max-width: $small) {
    font-size: 12px;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0);
  opacity: 0;
  z-index: -1;
  transition: 0.5s;
}

#overlay.active {
  display: block;
  opacity: 0.2;
  z-index: 10;
}

body {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  font-family: "Exo 2", sans-serif;
  background-color: $bg-color;
  color: $black;
  overflow: hidden;
  @media (max-width: $small) {
    padding: 10px;
  }
}

.btn {
  width: fit-content;
  height: 30px;
  background-color: $green;
  color: white;
  border: none;
  border-radius: $base-border-radius;
  padding: 0 15px 0 15px;
  transition: 0.5s;
  cursor: pointer;
}

.btn:hover {
  background-color: $black;
}

.btn:disabled {
  background-color: $color-disabled;
  cursor: default;
}

.title {
  font-size: 24px;
  text-align: center;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  div {
    display: flex;
    align-items: center;
    gap: 20px;
    // justify-content: space-between;
  }
}

.main-menu__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.main-menu li {
  list-style: none;
}

.main-menu__link {
  display: block;
  padding: 10px 25px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.5s;
  color: $black;
  @media (max-width: $small) {
    padding: 10px 10px;
  }
}

.main-menu__link:hover {
  text-decoration: none;
  background-color: $black;
  color: $white;
}

.main-menu__link.active {
  text-decoration: none;
  background-color: $green;
  color: $white;
}

.content {
  padding: 1.5em 0;
}

.add-auto {
  margin-bottom: 40px;
}

.sound::before {
  content: "\1F50A";
}

.sound.soundOff::before {
  content: "\1F507";
}
